* {
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
  color: black;
}

.nav-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}

.nav {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
  background: transparent;
}
.nav-item {
  cursor: pointer;
}
.nav-item:hover {
  cursor: pointer;
  color: rgb(156 163 175);
}

.SignUp {
  background: #fff;
  padding: 0.5rem 2rem;
  border-radius: 45px;
  border: none;
  display: none;
}

.nav-list{
  display: none;
}

@media (min-width: 768px) {
  .SignUp {
    display: block;
  }

  .nav {
    padding: 1rem 5rem;
  }

  .nav-list{
    display:flex;
    gap: 1.75rem;
  }

  .nav-item {
    color: white;
  }

}

@media (min-width: 1024px) {
  .nav {
    padding-left: 8rem;
    padding-right: 8rem;
  }
}
